@use "../utilities/variables" as *;

/* =========================================================
   TABLET / MOBILE LARGE ( < $bp-lg )
   Ajustes para pantallas medianas
   ========================================================= */

@media (max-width: calc(#{$bp-lg} - 0.02px)) {

  /* HOME */
  #carouselCategorias {
    .categoria-card__img { height: 280px; }

    .carousel-control-prev,
    .carousel-control-next { width: 10%; }
  }

  /* CONTACTO */
  .contact-card {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "media"
      "content";
    text-align: center;
  }

  .contact-actions {
    justify-content: center;
  }

  /* OFFCANVAS */
  .offcanvas.offcanvas-start {
    width: 40vw;
    min-width: 260px;
  }

  /* VELAS */
  .velas-card {
    img,
    .card-img-top { height: 280px; }
  }

  .mod-modal {
    .carousel img { height: 300px; }

    .carousel-control-prev,
    .carousel-control-next { width: 18%; }
  }
}
