//paleta de colores
    // fondos
  $bg-page: rgb(255, 255, 255);
  // colores principales
  $cream: #FFFBEF;     
  //fondo nav + footer + rellenos
  $pink:  #D16BA5;     
  //texto/iconos nav + acentos
  $lila: #997DA2;     
  //fondo offcanvas

  //textos
  $text:  #111;
  $muted: #6b5a6b;
//botones
  $radius-sm: 12px;
  $radius-lg: 22px;

//tipografías
    $font-body: 'Montserrat', sans-serif;
    $font-title: 'Libre Bodoni', sans-serif;
    $font-nav: 'Poppins', sans-serif; 
    
